[Unit]
Description=Matrix Bridge

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/matrix/venv/bin/python matrix_bridge/main.py
User=matrix
WorkingDirectory=/home/matrix
Restart=always
KillSignal=SIGKILL